
p {
    margin:5px;
}
.airForce {
    background-image:url(/images/icons/fam/folder_wrench.png);
}
.nav {
    background-image:url(/images/icons/fam/folder_go.png);
}
.landForce {
    background-image:url(/images/icons/fam/information.png);
}